                                                                   
body{
	background-color: #A6A6CC; 
	color: #000000; 
	margin: 0px;
	padding: 0px;
}

#pealdis{
	padding-top: 10px; 
	padding-bottom: 10px; 
	text-align:center;
	background-color: #000039;
	color: #CCCCD7;
	border-bottom: 2px solid #000000;
}

#meldimine{
	float: right; 
}

#autendi {
	text-align:right; 
	position: fixed;
    top: 40px;
    right: 5px;
	color: #CCCCD7;
}

.meldinupp{
	position: fixed;
    top: 10px;
    right: 5px;
	background-color: #000039;
	color: #CCCCD7;
	border: none; 
}

.sisenemiskast{
	width:  100px;
	height: 20px;
	margin: 0px;'
	vertical-align: bottom;
}

#kylgriba{
	float: left;
	padding-right: 15px;
	margin-right:   5px;
	padding-left:  10px;
	background-color: #000039;
	color: #CCCCD7;
}

#kylgriba a:link {
    color: #CCCCD7;
    font-weight: bold;
    text-decoration: none;
	line-height: 28px;
}

#kylgriba a:visited {
    color: #B8B8C2;
    font-weight: bold;
    text-decoration: none;
	line-height: 28px;
}

#kylgriba a:hover {
    color: #E6E6EB;
    font-weight: bold;
    text-decoration: underline;
	line-height: 28px;
}

#kylgriba a:active {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
	line-height: 28px;
}

.otsikast{
	width:  100px;
	height: 20px;
	margin: 0px;'
	vertical-align: bottom;
}

.otsinupp{ 
	margin: 0px;
	width:  30px; 
	height: 30px; 
	vertical-align:bottom;
}

#sisu{
	width: 60%;
	float: left;
	padding: 5px; 
}

#jalus{
	clear: left;
	text-align:center;
	float: bottom;
}        
