                                                                   
body{
	background-color: #A6A6CC; 
	color: #000000; 
	margin: 0px;
	padding: 0px;
}

table {
   width: 100%;
} 

#pealdis{
	padding-top: 10px; 
	padding-bottom: 10px; 
	text-align:center;
	font-size: 100%;
	background-color: #000039;
	color: #CCCCD7;
	border-bottom: 2px solid #000000;
}

#meldimine{
	float: right; 
}

#autendi {
	text-align:right; 
	position: fixed;
    top: 92px;
    right: 0px;
	color: #CCCCD7;
	padding: 5px; 
	background-color: #000012;
	border-radius: 5px;
	border: 1px solid #151515;
}

.meldinupp{
	position: fixed;
    top: 10px;
    right: 5px;
	background-color: #000039;
	color: #CCCCD7;
	border: none; 
}

.valikunupp{
	background-color: #000039;
	text-align: center;  
	width: 100%;
	color: #CCCCD7;
	border: none; 
}

.sisenemiskast{
	width:  112px;
	height: 20px;
	margin: 0px;
	vertical-align: bottom;
    border-radius: 5px;
	background-color: #000000;
	border: 1px solid #151515;
	color: #999999;
}

.sisenemiskast:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.sisenemine{
	width:  116px;
	height: 20px;
	margin-top: 2px; 
    border-radius: 5px;
	background: #555555;
	background-image: -webkit-linear-gradient(top, #555555, #000000);
	background-image: -moz-linear-gradient(top, #555555, #000000);
	background-image: -ms-linear-gradient(top, #555555, #000000);
	background-image: -o-linear-gradient(top, #555555, #000000);
	background-image: linear-gradient(to bottom, #555555, #000000);
	border: 1px solid #303030;
	color: #CCCCD7;
}

#peitja{
	display:none
}

#kylgriba{
	display: block; 
	float: left;
	padding-right:  5px;
	margin-right:   5px;
	padding-left:  10px;
	background-color: #000039;
	color: #CCCCD7;
}

#kylgriba a:link {
    color: #CCCCD7;
    font-weight: bold;
    text-decoration: none;
	line-height: 28px;
}

#kylgriba a:visited {
    color: #B8B8C2;
    font-weight: bold;
    text-decoration: none;
	line-height: 28px;
}

#kylgriba a:hover {
    color: #E6E6EB;
    font-weight: bold;
    text-decoration: underline;
	line-height: 28px;
}

#kylgriba a:active {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
	line-height: 28px;
}

.otsikast{
	width:  100px;
	height: 26px;
	margin: 0px;
    border-radius: 5px;
	vertical-align: bottom;
	background-color: #000000;
	border: 1px solid #151515;
	color: #999999;
}

.otsikast:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

.otsinupp{ 
	margin: 0px;
	width:  30px; 
	height: 30px; 
	vertical-align:bottom;
}

#sisu{
	width: 60%;
	float: left;
	padding: 5px; 
}

#jalus{
	clear: left;
	text-align:center;
}        

@media only screen and (max-width: 411px) {	
	#autendi {
		top: 165px;
	}

	#kylgriba {
		display: none; 
		text-align: center; 
		width: 100%; 
	}

	#peitja{
		background-color: #000039;
		border-bottom: 2px solid #000000;
		color: #CCCCD7;
		display: block; 
		float: top;
		padding-bottom: 10px; 
		padding-top: 10px; 
	}

}

